<!-- Featured Video Section -->
<section id="featured-video">
  <div class="container">
    <h3>How to Reset Your Metabolism: The Science of Metabolic Synchronization&trade;</h3>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube-nocookie.com/embed/g7ksUoFF4YI?rel=0&modestbranding=1&playsinline=1"
            title="How to Reset Your Metabolism: The Science of Metabolic Synchronization™"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
